:root {
    --main: rgb(34, 102, 250);
    --faint:rgba(34, 102, 250,0.5);

    --light: azure;
    --dark: #474747;

    --down: rgba(255, 85, 85, 0.7);
    --up: rgba(85, 251, 85, 0.5);
    --error: rgba(253, 228, 85 ,0.8);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: var(--light);
    color:  var(--dark);
    border-radius: 5px;
}

body {
    height: 100vh;
}


.container  {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
}

form {
    display: flex;
    gap: 3px;
}


#url-box , #url-btn  {
    border: none;
    font-size: 1.2rem;
    height:45px;
}

#url-box {
    background-color: var(--faint);
    text-indent: 1rem;
    flex-grow: 4;
}

 #url-btn {
    background-color: var(--main);
    opacity: 0.90;
    flex-grow: 2;
}

#url-btn:hover {
    cursor: pointer;
    opacity: 1;
}

.result {
    display: flex;
    height: 100% ;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 4px;
    margin: 10px 0;
    padding: 10px;
}

.result h3 {
    margin-bottom: 20px;
}